{{outlet topbar}}

<div class="alertbox">
	{{component 'alert-messages' title=titleval danger=bool1 success=bool2}}
</div>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>ABC</h1>
		</div>
	</div>
	
	
	<div class="right">
		<h1>Login</h1>
		<div class="inputs">
			{{input type="text" value=email placeholder="Usermail"}}
			<br>
			{{input type="password" value=password placeholder="Password"}}
		</div>
			<br>
			<button {{action 'login'}}>Login</button>
			<div class="signup-content">
				<span>Don't have a account ? <a href="signup"><u>Sign Up Now</u> </a></span>
			</div>
			<div class="signup-icons">
				<img src="https://cdn-icons-png.flaticon.com/512/1488/1488526.png" alt="">
				<img src="https://cdn-icons-png.flaticon.com/512/1488/1488581.png" alt="">
				<img src="https://cdn-icons-png.flaticon.com/512/1488/1488567.png" alt="">
			</div>
		</div>

		
	
</div> 



